<div class="pure-g content">
  <h2 class="recipe-title pure-u-1-1 flex"><%= @recipe.title %></h2>

  <% if @recipe.fields.has_key?(:photo) %>
    <div class="recipe-photo pure-u-1-1 flex">
      <img src="<%= @recipe.photo.url %>" alt="">
    </div>
  <% end %>

  <% if @recipe.fields.has_key?(:description) %>
    <p class="recipe-description pure-u-1-1 flex"><%= @recipe.description %></p>
  <% end %>

  <% if @recipe.fields.has_key?(:chef) %>
    <p class="recipe-chef pure-u-1-1 flex">by <%= @recipe.chef.name %></p>
  <% end %>

  <% if @recipe.fields.has_key?(:tags) %>
    <div class="pure-u-1-1 recipe-tags">

      <% @recipe.tags.each do |tag| %>
        <span class="recipe-tag pill"><%= tag.name %></span>
      <% end %>

    </div>
  <% end %>

  <%= link_to 'Back', recipes_path, class: 'pure-u-1-1 flex' %>

</div>
