<p id="notice"><%= notice %></p>

<h2 class="recipe-title"><%= @recipe.title %></h2>

<% if @recipe.fields.has_key?(:photo) %>
  <img src="<%= @recipe.photo.url %>" alt="" class="recipe-photo">
<% end %>

<% if @recipe.fields.has_key?(:description) %>
  <p class="recipe-description"><%= @recipe.description %></p>
<% end %>

<% if @recipe.fields.has_key?(:chef) %>
  <p class="recipe-chef">by <%= @recipe.chef.name %></p>
<% end %>

<%= link_to 'Back', recipes_path %>
